

.first{
  position:relative;
  font-family:"Source Sans Pro",Calibri,Candara,Arial,sans-serif;
}

.grid{
  position:relative;

}

h2{
  font-family:"Source Sans Pro",Calibri,Candara,Arial,sans-serif;
}


.why{
  position:relative;
}

.what{
  position:relative;
}

.when{
  position:relative;
}